@charset "UTF-8";

/* 태블릿 */
@media screen and (max-width: 1023px) {
  section #intro {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), 
  url(../images/sky.jpg) no-repeat center center / cover;
  }
  #intro #typeStyle{
    width: 500px;
  }
  #about .about_txt ul{
    font-size: 0.8em;
    text-align: center;
  }
  #skills{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
  url(../images/scott-graham-OQMZwNd3ThU-unsplash.jpg) no-repeat top/ cover;
  }
  #skills .skill li{
    transform: scale(80%);
  }
  #skills .skill span:nth-child(2){
    font-size: 1em;
  }
  #portfolio .po_group{
    width: 80%;
  }
  #portfolio div[class*="po_box"]{
    margin: 10px;
    width: 230px;
    height: 230px;
  }
  #portfolio .po_group .po_box_bg{
    top: -10px;
    left: -10px;
  }#portfolio .po_group img {
    width: 200px;
  }
  #about .about_txt>li{
    flex: 0 0 auto;
  }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  section #intro {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), 
  url(../images/sky.jpg) no-repeat center center / cover;
  }
  #skills{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
  url(../images/scott-graham-OQMZwNd3ThU-unsplash.jpg) no-repeat top/ cover;
  }
  #skills canvas {
    width: 170px;
  }
  #skills .skill span:nth-child(2){
    font-size: 0.8em;
  }
  #about .about_txt>li{
    flex: 0 0 auto;
  }
}

/* 모바일 */
@media screen and (max-width: 479px) {
  header nav .gnb{
    width: 70%;
  }
  section #intro {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), 
  url(../images/sky.jpg) no-repeat center center / cover;
  }
  #intro #typeStyle{
    width: 240px;
    font-size: 2.5em;
  }
  #about {
    height: 160vh;
  }
  #about h2{
    margin-bottom: 50px;
  }
  #about .about_txt{
    height: 120vh;
    flex-flow: column wrap;
    justify-content: space-around;
  }
  #skills{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
  url(../images/scott-graham-OQMZwNd3ThU-unsplash.jpg) no-repeat top/ cover;
  }
  #skills h2{
    margin-bottom: 50px;
  }
  #skills .skill{
    width: 90%;
    height: 60vh;
    flex-flow: row wrap;
  }
  #skills .skill li{
    width: 180px;
    height: 180px;
    flex: 0 0 50%;
  }
  #portfolio .po_group{
    height: 320vh;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
  }
}