@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style: none;
}
img{
  border: 0;
  vertical-align: top;
}

.clearFix::after{
  content: '';
  display: block;
  clear: both;
}

header{
  width: 100%;
}
header nav{
  width: 1100px;
  height: 90px;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
}
header nav>*{
  float: left;
}
header nav .gnb{
  margin-left: 120px;
  position: relative;
}
header nav .gnb>li{
  float: left;
  width: 70px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 8px;
}
header nav .gnb>li:hover>a{
  border-top: 2px solid red;
}
header nav .gnb .sub{
  border: 1px solid gray;
  background-color: #fff;
  padding: 10px;
  width: 150px;
  text-align: left;
  line-height: 30px;
  display: none;
  position: absolute;
  z-index: 1;
}
/* header nav .gnb>li:hover .sub{
  display: block;
} */
header nav .gnb .sub li:hover a{
  background-color: rgba(255, 0, 0, 0.219);
  color: red;
  display: block;
}
header nav .search{
  float: right;
}
header nav .search li{
  float: left;
  font-size: 8pt;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 15px;
  color: gray;
}
header nav .search li a{
  color: gray;
}
header nav .search li:nth-child(1){
  float: none;
  height: 25px;
  margin-top: -20px;
  text-align: right;
  line-height: 25px;
  padding-right: 10px;
  background-color: red;
  cursor: pointer;
}
header nav .search li:nth-child(1) a{
  color: #fff;
}
header nav .search li:nth-child(1) a i{
  margin-right: 10px;
}

section{
  width: 100%;
}
section .visual{
  height: 650px;
  background: url(../images/img_campaign.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
section .visual img[alt=left]{
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -40px;
  cursor: pointer;
}
section .visual img[alt=left]:hover{
  filter: brightness(20%);
}
section .visual img[alt=right]{
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: -40px;
  cursor: pointer;
}
section .visual img[alt=right]:hover{
  filter: brightness(20%);
}
section .visual .more_box{
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 22%;
  top: 60%;
  cursor: pointer;
}
section .visual .more_box:hover{
  background-color: black;
  border: 0;
}
section .visual .indicator{
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -48px;
}
section .visual .indicator li{
  width: 8px;
  height: 8px;
  background-color: #fff;
  float: left;
  margin: 8px;
  cursor: pointer;
}
section .visual .indicator li:nth-child(1){
  background-color: red;
}

section .issue{
  height: 1100px;
}
section .issue .issue_group{
  width: 1100px;
  margin: 0 auto;
  margin-top: 115px;
}
section .issue_group .issue_title{
  text-align: center;
  font-size: 25pt;
  letter-spacing: 2px;
}
section .issue_group .issue_subtitle{
  text-align: center;
  font-size: 10pt;
  font-weight: normal;
  margin-top: 12px;
  margin-bottom: 50px;
}
section .issue_group .issue_conbox>div{
  float: left;
  position: relative;
}
section .issue_group .issue_conbox>div span{
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: -60px;
  color: #fff;
  display: none;
}
section .issue_group .issue_conbox .issue_con2{
  margin: 0px 40px;
}
section .issue_group .issue_conbox>div h4{
  font-size: 11pt;
  margin-top: 30px;
  margin-bottom: 20px;
}
section .issue_group .issue_conbox>div p{
  font-size: 10pt;
}
section .issue_group .issue_conbox>div:hover img{
  filter: brightness(25%);
}
section .issue_group .issue_conbox>div:hover span{
  display: block;
}
section .issue .issue_group .issue_office{
  width: 1100px;
  height: 300px;
  background: url(../images/img_officewelove_vol7_bg@2x.jpg) no-repeat ;
  background-size: cover;
  margin-top: 120px;
  position: relative;
}
section .issue .issue_group .issue_office p{
  position: absolute;
  width: 195px;
  height: 45px;
  background-color: red;
  color: #fff;
  text-align: center;
  font-size: 11pt;
  line-height: 45px;
  left: 90px;
  bottom: 70px;
  cursor: pointer;
}
section .issue .issue_group .issue_office p:hover{
  background-color: #000;
}



section .showroom .show_title{
  text-align: center;
  font-size: 2em;
}
section .showroom .show_subtitle{
  text-align: center;
  font-size: 0.85em;
  letter-spacing: -1px;
  margin-top: 10px;
}
section .showroom .tab{
  position: relative;
  height: 750px;
}
section .showroom .tabmenu{
  width: 785px;
  margin: 0 auto;
  margin-top: 50px;
}
section .showroom .tabmenu li{
  float: left;
  width: 130px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10.5pt;
  font-weight: bold;
  border-right: 1px solid black;
}
section .showroom .tabmenu li:last-child{
  border: 0;
}
section .showroom .tabmenu li.active a,
section .showroom .tabmenu li:hover a{
  display: block;
  background-color: black;
  color: #ffffff;
}
section .showroom .tabmenu li img{
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
}
section .showroom .tabmenu li.active img{
  display: block;
}






section .study{
  width: 1100px;
  height: 650px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}
section .study .study_title{
  text-align: center;
  font-size: 2em;
}
section .study .study_txt{
  text-align: center;
  margin-top: 15px;
  font-size: 10pt;
  font-weight: normal;
}
section .study .study_more{
  border: 1px solid black;
  width: 65px;
  height: 22px;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  position: absolute;
  top: 20px;
  right: 10px;
}
section .study .study_more:hover{
  background-color: #000;
}
section .study .study_more:hover a{
  color: #fff;
}
section .study .study_group{
  margin-top: 50px;
}
section .study .study_group li{
  float: left;
  width: 340px;
  height: 420px;
}
section .study .study_group li:nth-child(2){
  margin: 0px 40px;
}
section .study .study_group li .study_img{
  width: 340px;
  height: 330px;
  position: relative;
  overflow: hidden;
}
section .study .study_group li .study_img img{
  transition: all 0.3s;
}
section .study .study_group li .study_img .study_black{
  width: 340px;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.733);
  color: #fff;
  text-align: center;
  line-height: 330px;
  position: absolute;
  top: 0;
  left: 0;
}
section .study .study_group li:nth-child(1) .study_img .study_black{
  top: 330px;
  transition: all 0.3s;
}
section .study .study_group li:nth-child(2) .study_img .study_black{
  left: -340px;
  transition: all 0.3s;
}
section .study .study_group li:nth-child(3) .study_img .study_black{
  opacity: 0;
  transition: all 0.3s;
}
section .study .study_group li:nth-child(1):hover .study_img .study_black{
  top: 0;
}
section .study .study_group li:nth-child(2):hover .study_img .study_black{
  left: 0;
}
section .study .study_group li:nth-child(3):hover .study_img .study_black{
  opacity: 1;
}
section .study .study_group li:nth-child(3):hover .study_img img{
  transform: scale(1.3);
}


section .study .study_group li .study_subtitle{
  margin-top: 30px;
  font-size: 11pt;
}
section .study .study_group li .study_subtxt{
  margin-top: 20px;
  font-size: 10pt;
}
section .life{
  width: 100%;
  height: 420px;
  background: url(../images/06_banner_02.jpg) no-repeat center;
  background-size: cover;
}

section .quick_group{
  position: relative;
}
section .quick_group .quick{
  width: 250px;
  height: 50px;
  background-color: rgb(44, 44, 44);
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  transform: rotate(-90deg);
  position: fixed;
  right: -100px;
  top: 70%;
  cursor: pointer;
}
section .quick_sub{
  background-color: #000;
  width: 180px;
  height: 250px;
  position: fixed;
  right: 51px;
  bottom: 131px;
  padding-left: 10px;
  box-sizing: border-box;
  display: none;
}
section .quick_group .quick_sub li{
  margin: 9px;
}
section .quick_group .quick_sub li a{
  color: #fff;
  font-size: 10pt;
  font-weight: 700;
}
section .quick_group .quick_sub li a:hover{
  color: red;
}

footer{
  height: 200px;
  margin-top: 100px;
  background-color: #EFEFEF;
}
footer .copyright{
  width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
}
footer .copyright>li{
  float: left;
  font-size: 10pt;
  font-weight: 350;
  margin: 20px;
  letter-spacing: -0.5px;
}
footer .copyright>li ul li{
  margin-top: 15px;
}
footer .copyright>li:last-child>ul>li:first-child a{
  color: red;
}